.description {
  max-width: 984px;
  margin: 0 auto;
  margin-bottom: 92px;
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
  .description {
    min-width: 928px;
    max-width: 984px;
    padding: 0 35px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .description {
    min-width: 720px;
    max-width: 928px;
    margin-bottom: 88px;
    padding: 0 24px;
  }
}

@media screen and (max-width: 768px) {
  .description {
    min-width: 288px;
    max-width: 720px;
    margin-bottom: 64px;
    padding: 0 16px;
  }
}