.description__text {
  max-width: 690px;
  margin: 40px 0 33px 0;
  line-height: 26px;
  font-size: 16px;
  font-weight: 400;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .description__text {
    max-width: auto;
  }
}

@media screen and (max-width: 767px) {
  .description__text {
    max-width: auto;
  }
}