.travel__subtitle {
  margin: 32px 0 64px;
  max-width: 640px;
  line-height: 36px;
  font-size: 30px;
  font-weight: 400;
  text-align: center;
}

@media screen and (max-width: 768px) and (max-width: 1279px) {
  .travel__subtitle {
    margin: 32px 0 56px;
  }
}

@media screen and (max-width: 767px) {
  .travel__subtitle {
    margin: 16px 0 40px;
    max-width: 299px;
    line-height: 20px;
    font-size: 16px;
  }
}