.cover__subtitle {
  line-height: 22px;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  margin: 0;
  max-width: 360px;
}

@media screen and (max-width: 767px) {
  .cover__subtitle {
    min-width: 288px;
    line-height: 16px;
    font-size: 14px;
  }
}