.footer__link {
  margin: 0;
  margin-right: 18px;
  line-height: 18px;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  color: #fff;
  transition: opacity 0.2s linear;
}


.footer__links:last-of-type {
  margin-right: 0;
}

.footer__link:hover {
  opacity: .8;
}