.card__text {
  width: 100%;
  line-height: 29px;
  font-size: 18px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 26px;
}

.card__text:last-of-type {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .card__text {
    line-height: 26px;
    font-size: 16px;
  }
}

@media screen and (max-width: 767px) {
  .card__text {
    line-height: 26px;
    font-size: 16px;
  }
}