 .cover__bg-image {
  width: 100%;
  padding-bottom: 62.5%;
  background: url('../../../image/cover-trains.jpg') no-repeat top 0 left 0 / contain;
 }
 
 .cover__bg-image::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2a2c2f;
  opacity: .3;
  z-index: 1;
  transition: opacity 0.2s linear;
 }

 .cover:hover .cover__bg-image::after {
  opacity: .8;
 }