.footer {
  max-width: 1184px;
  margin: 92px auto 24px;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .footer {
    margin: 62px 0 24px 16px;
    flex-direction: column;
  }
}