.galley__image-container {
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  gap: 16px;
}

@media screen and (max-width: 767px) {
  .galley__image-container {
    display: flex;
    flex-direction: column;
    gap: 12px 0;
  }
}

